*.tdb
*.*~
build*/
._.DS_Store
.DS_Store
*.pyc
*.autosave
*__pycache__*
.vscode
.idea
.helix
.cache
.env
CMakeUserPresets.json
extensions/
*.code-workspace
_deps/*
**/CMakeFiles/**
cmake_install.cmake
CMakeCache.txt
SystemCLanguageTargets.cmake
compile_commands.json
apps/simulator/Makefile
Makefile
